{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.css" />
{% endblock %}

{% block content %}
<div class="container">
    {% if cookie.lastSearch %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for distro in results %}
            <li data-target="#carousel-example-generic" data-slide-to="{{  distro.id }}" class="active"></li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for distro in results %}
            <div class="item {% if loop.index == 1 %}active{% endif %}">
                <img src="http://lorempixel.com/1200/500/abstract/?{{ distro.id }}" alt="Argo">
                <div class="carousel-caption">
                    <h3>{{ distro.name }}</h3>
                    <p>{{ distro.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endif %}

    <h1>{{ webInfo.h1 }}</h1>
    {% if distros.count %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Os Type</th>
            <th>Version</th>
            <th>Web</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
        </thead>
        <tbody>
        {% for distro in distros %}
        <tr>
            <td><a href="distros/{{ distro.id }}"><img src="{{ distro.image }}" alt="Logo de {{ distro.name }}" class="logo"></a></td>
            <td><a href="distros/{{ distro.id }}">{{ distro.name }}</a></td>
            <td>{{ distro.basedon }}</td>
            <td>{{ distro.version }}</td>
            <td>{{ distro.web }}</td>
            <td>
                <a href="/distros/edit/{{ distro.id }}" class="editar btn btn-link">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <form action="/distros" method="POST" id="deleteDistro-{{ distro.id }}">
                    <input type="hidden" name="id" value="{{ distro.id }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" id="deleteForm" class="btn btn-link btn-alert" onclick="deleteDistro({{ distro.id }}, event)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </form>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% else %}
        <h2>No hay resultados. Busca por otros criterios, porfiplis!!!</h2>
    {% endif %}
</div><!-- /.container -->
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.js"></script>
<script src="{{  '' | url }}js/app.js"></script>
{% endblock %}
